{% extends "shell.html" %}
{% block title %}Members{% endblock %}
{% block content %}
<div class="measure">
    <p class="f4 f3-ns lh-copy mb4">
        A platform for member organization and coordination.
    </p>
    {% if not current_user.is_authenticated %}
        <div class="mt5">
            <a href="{{ url_for('main.login') }}" 
               class="f6 link dim br2 ph4 pv3 dib white bg-black-90">
                Login
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}